* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 235, 224);
}

body {
    background-color: rgb(245, 235, 224);
}

/* ----- nav ----- */

ul,
li {
    list-style: none;
    font-size: 1.125rem;
}

a {
    text-decoration: none;
    color: black;
}

/* ----- header ----- */

header {
    background-color: rgb(245, 235, 224);
    padding: 22px;
    width: 90%;
    margin: 0px auto 40px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 20px 5px rgb(146, 146, 146);
}

.header__nav {
    padding: 0;
}

.header__div {
    display: flex;
    justify-content: space-between;
}

.header__div--lista {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
}

.header__div--lista a:hover{
    color: rgb(194, 172, 149);
    transition: 0.5s;
}

.header__div--boton {
    padding: 8px;
    font-size: 1.125rem;
    cursor: pointer;
    color: black;
    background-color: rgb(215, 194, 173);
    text-decoration: none;

    border-radius: 10px;
    box-shadow: 1px 1px 20px 3px rgb(146, 146, 146);
}

.header__div--boton:hover {
    background-color: rgb(156, 138, 120);
    transition: 1s;
}

/* ----- main index ----- */

#sobremi {
    display: flex;
    width: 60%;
    margin: 100px auto 100px;
}

.sobremi__img {
    width: 500px;
    height: 600px;
    margin: 40px;
    border-radius: 30px;
    box-shadow: 1px 1px 20px 5px rgb(146, 146, 146);
}

.sobremi__datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sobremi__datos h2 {
    font-size: 2.5rem;
    color: black;
}

.sobremi__datos h1 {
    font-size: 1.875rem;
    color: black;
}

.sobremi__datos p {
    color: black;
    text-align: center;
}

.sobremi__links--boton {
    padding: 8px;
    margin: 10px;
    font-size: 1.125rem;
    cursor: pointer;
    color: black;
    background-color: rgb(215, 194, 173);
    text-decoration: none;
    border-radius: 10px;
    
    box-shadow: 1px 1px 20px 5px rgb(146, 146, 146);
}

.sobremi__links--boton:hover {
    background-color: rgb(156, 138, 120);
    transition: 1s;
}

/* ----- main certificaciones ----- */

.certificaciones {
    width: 80%;
    margin: 0px auto;
}

.certificaciones img {
    width: 600px;
    height: 500px;
    margin: 30px 50px 50px 50px;
}

.certificaciones__article--1 {
    text-align: center;
}

.certificaciones__article--2 {
    text-align: center;
}

.certificaciones__article--3 {
    text-align: center;
}

/* ----- Footer ----- */

.footer {
    background-color: rgb(245, 235, 224);
    padding: 25px;
    margin-top: 40px;
    box-shadow: -5px -5px 20px 5px rgb(146, 146, 146);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__contacto {
    font-size: 2.188rem;
}

.footer__contacto i {
    margin: 0px 20px 0px 20px;
}

.footer__contacto i:hover {
    color: rgb(156, 138, 120);
    transition: 1s;
}

.footer__copyright h3 {
    color: black;
    font-size: 0.813rem;
    margin-top: 8px;
}

/* ----- Media Queries Mobile ----- */

@media screen and (min-width: 390px) {

/* ----- header ----- */

header {
    margin: 0px auto 15px;
    box-shadow: 1px 1px 10px 5px rgb(146, 146, 146);
}

/* ----- main ----- */

#sobremi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0px auto 15px;
}

.sobremi__img {
    width: 200px;
    height: 260px;
    margin: 20px 20px 30px;
}

.sobremi__datos h2 {
    font-size: 2rem;
    text-align: center;
}

.sobremi__datos h1 {
    font-size: 1.4rem;
    text-align: center;
}

.sobremi__datos p {
    color: black;
    text-align: center;
}

/* ----- main certificaciones ----- */

.certificaciones img {
    width: 250px;
    height: 175px;
    margin: 15px 25px 25px 25px;
}

/* ----- Footer ----- */

.footer {
    box-shadow: -5px -5px 10px 5px rgb(146, 146, 146);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

}

/* ----- Media Queries Desktop ----- */

@media screen and (min-width: 1024px) {

/* ----- header ----- */

header {
    margin: 0px auto 15px;
}

/* ----- main index ----- */

#sobremi {
    flex-direction: row;
    margin: 160px auto 160px;
}

.sobremi__img {
    width: 400px;
    height: 500px;
    margin: 40px;
}

.sobremi__datos h2 {
    font-size: 2.5rem;
}

.sobremi__datos h1 {
    font-size: 1.875rem;
}

/* ----- main certificaciones ----- */

.certificaciones img {
    width: 450px;
    height: 375px;
    margin: 15px 25px 25px 25px;
}

/* ----- Footer ----- */

.footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

}