/* ----- var ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: rgb(245, 235, 224);
}

body {
  background-color: rgb(245, 235, 224);
}

/* ----- nav ----- */
ul,
li {
  list-style: none;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: black;
}

/* ----- extends ----- */
.destacados__article a, .proyectos__div a, .proyectos__div--inverso a, .sobremi__boton, .nav__boton {
  padding: 8px;
  margin: 10px;
  font-size: 1.125rem;
  cursor: pointer;
  color: black;
  background-color: rgb(215, 194, 173);
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 5px rgb(146, 146, 146);
}

.destacados__article a:hover, .proyectos__div a:hover, .proyectos__div--inverso a:hover, .sobremi__boton:hover, .nav__boton:hover {
  background-color: rgb(156, 138, 120);
  color: black;
  transition: 1s;
}

/* ----- mixins ----- */
/* ----- header ----- */
header {
  background-color: rgb(245, 235, 224);
  padding: 22px;
  width: 90%;
  margin: 0px auto 40px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 1px 1px 20px 5px rgb(146, 146, 146);
}

.nav {
  padding: 0;
}
.nav__div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__lista {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 30px;
}
.nav__lista a:hover {
  color: rgb(194, 172, 149);
  transition: 0.5s;
}
/* ----- Media Queries Mobile ----- */
@media screen and (min-width: 320px) {
  header {
    margin: 0px auto 15px;
    box-shadow: 1px 1px 10px 5px rgb(146, 146, 146);
  }
}
/* ----- Media Queries Desktop ----- */
@media screen and (min-width: 1024px) {
  header {
    margin: 0px auto 15px;
  }
}
/* ----- Footer ----- */
.footer {
  background-color: rgb(245, 235, 224);
  padding: 25px;
  margin-top: 40px;
  box-shadow: -5px -5px 20px 5px rgb(146, 146, 146);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer__contacto {
  font-size: 2.188rem;
}
.footer__contacto i {
  margin: 0px 20px 0px 20px;
}
.footer__contacto i:hover {
  color: rgb(156, 138, 120);
  transition: 1s;
}
.footer__copyright h3 {
  color: black;
  font-size: 0.813rem;
  margin-top: 8px;
}

/* ----- Media Queries Mobile ----- */
@media screen and (min-width: 320px) {
  .footer {
    box-shadow: -5px -5px 10px 5px rgb(146, 146, 146);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer h3 {
    text-align: center;
  }
}
/* ----- Media Queries Desktop ----- */
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
/* ----- main index ----- */
.sobremi {
  display: flex;
  width: 60%;
  margin: 100px auto 100px;
}
.sobremi__img {
  width: 500px;
  height: 600px;
  margin: 40px;
  border-radius: 30px;
  box-shadow: 1px 1px 20px 5px rgb(146, 146, 146);
}
.sobremi__datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 20px;
}
.sobremi__datos h2 {
  font-family: "Anton", sans-serif;
  font-size: 2.5rem;
  color: black;
}
.sobremi__datos h1 {
  font-size: 1.875rem;
  color: black;
}
.sobremi__datos p {
  margin-bottom: 25px;
  color: black;
  text-align: center;
}
/* ----- Media Queries Mobile ----- */
@media screen and (min-width: 320px) {
  .sobremi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0px auto 15px;
  }
  .sobremi__img {
    width: 200px;
    height: 260px;
    margin: 20px 20px 30px;
  }
  .sobremi__datos h2 {
    font-size: 2rem;
    text-align: center;
  }
  .sobremi__datos h1 {
    font-size: 1.4rem;
    text-align: center;
  }
  .sobremi__datos p {
    color: black;
    text-align: center;
  }
}
/* ----- Media Queries Desktop ----- */
@media screen and (min-width: 1024px) {
  .sobremi {
    flex-direction: row;
    margin: 160px auto 160px;
  }
  .sobremi__img {
    width: 400px;
    height: 500px;
    margin: 40px;
  }
  .sobremi__datos h2 {
    font-size: 2.5rem;
  }
  .sobremi__datos h1 {
    font-size: 1.875rem;
  }
}
/* ----- main certificaciones ----- */
.certificaciones {
  width: 80%;
  margin: 0px auto;
}
.certificaciones h1 {
  font-family: "Anton", sans-serif;
  margin: 50px 0px 20px;
}
.certificaciones h2 {
  font-family: "Anton", sans-serif;
  margin-top: 30px;
}
.certificaciones img {
  width: 600px;
  height: 500px;
  margin: 30px 50px 50px 50px;
}
.certificaciones__intro {
  text-align: center;
}
.certificaciones__coderhouse {
  text-align: center;
}
.certificaciones__udemy {
  text-align: center;
}

/* ----- Media Queries Mobile ----- */
@media screen and (min-width: 320px) {
  .certificaciones img {
    width: 250px;
    height: 175px;
    margin: 15px auto 25px;
    padding: 7px;
  }
}
/* ----- Media Queries Desktop ----- */
@media screen and (min-width: 1024px) {
  .certificaciones img {
    width: 450px;
    height: 375px;
    margin: 15px 25px 25px 25px;
  }
}
/* ----- main contacto ----- */
.form {
  width: 400px;
  padding: 50px;
  margin: 50px auto 90px;
  border-radius: 30px;
  box-shadow: 1px 1px 20px 5px rgb(146, 146, 146);
}
.form__titulo {
  margin: 45px auto 0px;
  text-align: center;
  font-family: "Anton", sans-serif;
}
.form__input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 0.813rem;
}
.form__textarea {
  width: 100%;
  padding: 10px;
  font-size: 0.813rem;
  border: 2px solid black;
  resize: none;
}
.form__submit {
  padding: 7px;
  border-radius: 10px;
  margin-top: 8px;
  background-color: rgb(215, 194, 173);
  box-shadow: 1px 1px 20px 5px rgb(146, 146, 146);
  cursor: pointer;
  border: none;
}
.form__submit:hover {
  background-color: rgb(156, 138, 120);
  transition: 1s;
}

/* ----- Media Queries Mobile ----- */
@media screen and (min-width: 320px) {
  .form {
    width: 300px;
    padding: 40px;
  }
}
/* ----- Media Queries Desktop ----- */
@media screen and (min-width: 1024px) {
  .form {
    width: 400px;
    padding: 50px;
  }
}
/* ----- main proyectos ----- */
.proyectos {
  width: 60%;
  margin: 0px auto;
}
.proyectos__titulo {
  font-family: "Anton", sans-serif;
  text-align: center;
  margin: 60px auto 80px;
}
.proyectos__article {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-areas: "img1 div1 div1";
}
.proyectos__article--inverso {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-areas: "div2 div2 img2";
}
.proyectos__article h2 {
  font-family: "Anton", sans-serif;
}
.proyectos__img {
  grid-area: img1;
  width: 300px;
  height: 450px;
  object-fit: cover;
  margin-bottom: 40px;
  border-radius: 30px;
  box-shadow: 1px 1px 10px 5px rgb(146, 146, 146);
}
.proyectos__img--inverso {
  grid-area: img2;
  width: 300px;
  height: 450px;
  object-fit: cover;
  margin: 0px 0px 40px 100px;
  border-radius: 30px;
  box-shadow: 1px 1px 10px 5px rgb(146, 146, 146);
}
.proyectos__div {
  grid-area: div1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proyectos__div--inverso {
  grid-area: div2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proyectos__div--inverso h2 {
  font-family: "Anton", sans-serif;
  margin-bottom: 30px;
}
.proyectos__div--inverso p {
  text-align: center;
  margin-bottom: 30px;
}
.proyectos__div h2 {
  margin-bottom: 30px;
}
.proyectos__div p {
  text-align: center;
  margin-bottom: 30px;
}
.destacados {
  display: flex;
}
.destacados__titulo {
  font-family: "Anton", sans-serif;
  text-align: center;
  margin: 60px 0px 40px;
}
.destacados__img {
  width: 300px;
  height: 400px;
  margin: 20px 0px;
  object-fit: cover;
  border-radius: 120px;
  box-shadow: 1px 1px 10px 5px rgb(146, 146, 146);
}
.destacados__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  width: 80%;
}
.destacados__article h3 {
  font-family: "Anton", sans-serif;
}
.destacados__article p {
  margin: 20px 0px;
  text-align: center;
}
/* ----- Media Queries Mobile ----- */
@media screen and (min-width: 320px) {
  .proyectos__titulo {
    margin-bottom: -3px;
  }
  .proyectos__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto 40px;
  }
  .proyectos__article--inverso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto 40px;
  }
  .proyectos__img {
    margin: 20px auto 40px;
    width: 200px;
    height: 300px;
  }
  .proyectos__img--inverso {
    margin: 20px auto 40px;
    width: 200px;
    height: 300px;
  }
  .destacados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .destacados__img {
    width: 230px;
    height: 300px;
  }
}
/* ----- Media Queries Desktop ----- */
@media screen and (min-width: 1024px) {
  .proyectos {
    width: 60%;
    margin: 0px auto;
  }
  .proyectos__article {
    display: grid;
    grid-template-columns: repeat(3, 370px);
  }
  .proyectos__article--inverso {
    display: grid;
    grid-template-columns: repeat(3, 370px);
  }
  .proyectos__img {
    margin: 20px auto 40px;
    width: 300px;
    height: 450px;
  }
  .proyectos__img--inverso {
    margin: 20px auto 40px;
    width: 300px;
    height: 450px;
  }
  .destacados {
    flex-direction: row;
  }
  .destacados__img {
    width: 280px;
    height: 400px;
  }
}
/* ----- main servicios ----- */
#servicios {
  margin: 180px auto 180px;
}

.servicios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.servicios__titulo {
  font-family: "Anton", sans-serif;
  text-align: center;
  margin: 40px auto 50px;
}
.servicios__article {
  width: 250px;
  height: 350px;
  margin: 0px 40px 10px;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 1px 1px 20px 5px rgb(146, 146, 146);
}
.servicios__article h2 {
  font-family: "Anton", sans-serif;
  margin-bottom: 20px;
}

/* ----- Media Queries Mobile ----- */
@media screen and (min-width: 320px) {
  #servicios {
    margin: 80px auto 80px;
  }
  .servicios {
    flex-direction: column;
  }
  .servicios__article {
    width: 250px;
    height: 350px;
    margin: 0px auto 60px;
    padding: 20px;
  }
}
/* ----- Media Queries Desktop ----- */
@media screen and (min-width: 1024px) {
  #servicios {
    margin: 120px auto 120px;
  }
  .servicios {
    flex-direction: row;
  }
  .servicios__article {
    width: 250px;
    height: 350px;
    margin: 40px 40px;
    padding: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
