/* ----- var ----- */

$color-base: rgb(245, 235, 224);
$color-light-brown: rgb(215, 194, 173);
$color-brown: rgb(156, 138, 120);
$shadow-1: 1px 1px 20px 5px rgb(146, 146, 146);
$shadow-2: 1px 1px 10px 5px rgb(146, 146, 146);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: $color-base;
}

body {
    background-color: $color-base;
}

/* ----- nav ----- */

ul,
li {
    list-style: none;
    font-size: 1.125rem;
}

a {
    text-decoration: none;
    color: black;
}


/* ----- extends ----- */

%btn {
    padding: 8px;
    margin: 10px;
    font-size: 1.125rem;
    cursor: pointer;
    color: black;
    background-color: $color-light-brown;
    text-decoration: none;
    border-radius: 10px;

    box-shadow: $shadow-1;
}

%btn--hover {
    background-color: $color-brown;
    color: black;
    transition: 1s;
}

/* ----- mixins ----- */

@mixin flexbox($justify: center, $aling: center, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
}