/* ----- main certificaciones ----- */

.certificaciones {
    width: 80%;
    margin: 0px auto;

    & h1 {
        font-family: 'Anton', sans-serif;
        margin: 50px 0px 20px;
    }

    & h2 {
        font-family: 'Anton', sans-serif;
        margin-top: 30px;
    }

    & img {
        width: 600px;
        height: 500px;
        margin: 30px 50px 50px 50px;
    }

    &__intro {
        text-align: center;
    }

    &__coderhouse {
        text-align: center;
    }

    &__udemy {
        text-align: center;
    }
}

/* ----- Media Queries Mobile ----- */

@media screen and (min-width: 320px) {

    .certificaciones img {
        width: 250px;
        height: 175px;
        margin: 15px auto 25px;
        padding: 7px;
    }

}

/* ----- Media Queries Desktop ----- */

@media screen and (min-width: 1024px) {

    .certificaciones img {
        width: 450px;
        height: 375px;
        margin: 15px 25px 25px 25px;
    }

}
