/* ----- main proyectos ----- */

.proyectos {
    width: 60%;
    margin: 0px auto;

    &__titulo {
        font-family: 'Anton', sans-serif;
        text-align: center;
        margin: 60px auto 80px;
    }

    &__article {
        display: grid;
        grid-template-columns: repeat(3, 400px);

        grid-template-areas: "img1 div1 div1";

        &--inverso {
            display: grid;
            grid-template-columns: repeat(3, 400px);

            grid-template-areas: "div2 div2 img2";
        }

        & h2 {
            font-family: 'Anton', sans-serif;
        }
    }

    &__img {
        grid-area: img1;

        width: 300px;
        height: 450px;
        object-fit: cover;
        margin-bottom: 40px;

        border-radius: 30px;
        box-shadow: $shadow-2;

        &--inverso {
            grid-area: img2;

            width: 300px;
            height: 450px;
            object-fit: cover;
            margin: 0px 0px 40px 100px;

            border-radius: 30px;
            box-shadow: $shadow-2;
        }
    }

    &__div {
        grid-area: div1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--inverso {
            grid-area: div2;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & h2 {
                font-family: 'Anton', sans-serif;
                margin-bottom: 30px;
            }

            & p {
                text-align: center;
                margin-bottom: 30px;
            }

            & a {
                @extend %btn;

                &:hover {
                    @extend %btn--hover;
                }
            }
        }

        & h2 {
            margin-bottom: 30px;
        }

        & p {
            text-align: center;
            margin-bottom: 30px;
        }

        & a {
            @extend %btn;

            &:hover {
                @extend %btn--hover;
            }
        }
    }
}

.destacados {
    display: flex;

    &__titulo {
        font-family: 'Anton', sans-serif;
        text-align: center;
        margin: 60px 0px 40px;
    }

    &__img {
        width: 300px;
        height: 400px;
        margin: 20px 0px;

        object-fit: cover;
        border-radius: 120px;
        box-shadow: 1px 1px 10px 5px rgb(146, 146, 146);
    }

    &__article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 30px;
        width: 80%;

        & h3 {
            font-family: 'Anton', sans-serif;
        }

        & p {
            margin: 20px 0px;
            text-align: center;
        }

        & a {
            @extend %btn;

            &:hover {
                @extend %btn--hover;
            }
        }
    }
}

/* ----- Media Queries Mobile ----- */

@media screen and (min-width: 390px) {

    .proyectos {

        &__titulo {
            margin-bottom: -3px;
        }

        &__article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 20px auto 40px;

            &--inverso {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                margin: 20px auto 40px;
            }
        }

        &__img {
            margin: 20px auto 40px;

            &--inverso {
                margin: 20px auto 40px;
            }
        }
    }

    .destacados {
        flex-direction: column;
        align-items: center;
    }

}

/* ----- Media Queries Desktop ----- */

@media screen and (min-width: 1024px) {

    .proyectos {
        width: 60%;
        margin: 0px auto;

        &__article {
            display: grid;
            grid-template-columns: repeat(3, 400px);

            &--inverso {
                display: grid;
                grid-template-columns: repeat(3, 400px);
            }
        }
    }

    .destacados {
        flex-direction: row;
    }

}