/* ----- main servicios ----- */

#servicios {
    margin: 180px auto 180px;
}

.servicios {
    @include flexbox();

    &__titulo {
        font-family: 'Anton', sans-serif;
        text-align: center;
        margin: 40px auto 50px;
    }

    &__article {
        width: 250px;
        height: 350px;
        margin: 0px 40px 10px;
        padding: 20px;

        text-align: center;

        border-radius: 30px;
        box-shadow: $shadow-1;

        & h2 {
            font-family: 'Anton', sans-serif;
            margin-bottom: 20px;
        }
    }
}

/* ----- Media Queries Mobile ----- */

@media screen and (min-width: 320px) {

    #servicios {
        margin: 80px auto 80px;
    }

    .servicios {
        flex-direction: column;

        &__article {
            width: 250px;
            height: 350px;
            margin: 0px auto 60px;
            padding: 20px;
        }
    }
}

/* ----- Media Queries Desktop ----- */

@media screen and (min-width: 1024px) {

    #servicios {
        margin: 120px auto 120px;
    }

    .servicios {
        flex-direction: row;

        &__article {
            width: 250px;
            height: 350px;
            margin: 40px 40px;
            padding: 20px;
        }
    }
}
