/* ----- Footer ----- */

.footer {
    background-color: $color-base;
    padding: 25px;
    margin-top: 40px;
    box-shadow: -5px -5px 20px 5px rgb(146, 146, 146);

    display: flex;
    justify-content: space-around;
    align-items: center;

    &__contacto {
        font-size: 2.188rem;

        & i {
            margin: 0px 20px 0px 20px;

            &:hover {
                color: $color-brown;
                transition: 1s;
            }
        }
    }

    &__copyright h3 {
        color: black;
        font-size: 0.813rem;
        margin-top: 8px;
    }

}

/* ----- Media Queries Mobile ----- */

@media screen and (min-width: 390px) {

    .footer {
        box-shadow: -5px -5px 10px 5px rgb(146, 146, 146);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

/* ----- Media Queries Desktop ----- */

@media screen and (min-width: 1024px) {

    .footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

}